/* Timepicker */

.pika-single {

  .pika-timepicker {
    display: inline-block;
    text-align: center;
    border-left: 1px solid #ccc;
    select {
      margin: auto;
      border: 0 solid;
    }
    option {
      padding: 3px 10px;
      font-size: 12px;
      height: 16px;
      color: #545454;
      &:nth-child(odd) {
        background-color: rgba(0, 126, 255, 0.1);
      }
    }
  }
}


